---
# Beginning Data Analysis
---

## Developing a data analysis routine

In [3]:
import numpy as np
import pandas as pd

1. Read in the dataset, and view a sample of rows with the `.sample` method:

In [6]:
 college = pd.read_csv("college.csv")
 college.sample(n=15, random_state=42)

                                                 INSTNM  ... GRAD_DEBT_MDN_SUPP
3649                               Career Point College  ...              14977
1600                      Ner Israel Rabbinical College  ...  PrivacySuppressed
6742                      Reflections Academy of Beauty  ...  PrivacySuppressed
1467                     Capital Area Technical College  ...  PrivacySuppressed
4053   West Virginia University Institute of Technology  ...              23969
4087                        Mid-State Technical College  ...               8025
7495               Strayer University-Huntsville Campus  ...            36173.5
4587             National Aviation Academy of Tampa Bay  ...              22778
251                 University of California-Santa Cruz  ...              19884
1426                     Lexington Theological Seminary  ...  PrivacySuppressed
3615                          Arlington Baptist College  ...              22905
6798                             Diamond Beauty College  ...  PrivacySuppressed
4309                         Everest University-Brandon  ...              19613
5426                           Everest Institute-Austin  ...               9500
2488  Memorial Hospital School of Radiation Therapy ...  ...  PrivacySuppressed

[15 rows x 27 columns]

2. Get the dimensions of the DataFrame with the `.shape` attribute

In [7]:
college.shape

(7535, 27)

3. List the data type of each column, the number of non-missing values, and memory usage with the `.info` method:

In [8]:
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   INSTNM              7535 non-null   object
 1   CITY                7535 non-null   object
 2   STABBR              7535 non-null   object
 3   HBCU                7164 non-null   float64
 4   MENONLY             7164 non-null   float64
 5   WOMENONLY           7164 non-null   float64
 6   RELAFFIL            7535 non-null   int64
 7   SATVRMID            1185 non-null   float64
 8   SATMTMID            1196 non-null   float64
 9   DISTANCEONLY        7164 non-null   float64
 10  UGDS                6874 non-null   float64
 11  UGDS_WHITE          6874 non-null   float64
 12  UGDS_BLACK          6874 non-null   float64
 13  UGDS_HISP           6874 non-null   float64
 14  UGDS_ASIAN          6874 non-null   float64
 15  UGDS_AIAN           6874 non-null   float64
 16  UGDS_NHPI           6874 non-null   float64
 17  UGDS_2MOR           6874 non-null   float64
 18  UGDS_NRA            6874 non-null   float64
 19  UGDS_UNKN           6874 non-null   float64
 20  PPTUG_EF            6853 non-null   float64
 21  CURROPER            7535 non-null   int64
 22  PCTPELL             6849 non-null   float64
 23  PCTFLOAN            6849 non-null   float64
 24  UG25ABV             6718 non-null   float64
 25  MD_EARN_WNE_P10     6413 non-null   object
 26  GRAD_DEBT_MDN_SUPP  7503 non-null   object
dtypes: float64(20), int64(2), object(5)
memory usage: 1.6+ MB

4. Get summary statistics for the numerical columns and transpose the DataFrame for
more readable output:

In [10]:
college.describe(include=[np.number]).T

               count         mean  ...          75%          max
HBCU          7164.0     0.014238  ...     0.000000       1.0000
MENONLY       7164.0     0.009213  ...     0.000000       1.0000
WOMENONLY     7164.0     0.005304  ...     0.000000       1.0000
RELAFFIL      7535.0     0.190975  ...     0.000000       1.0000
SATVRMID      1185.0   522.819409  ...   555.000000     765.0000
SATMTMID      1196.0   530.765050  ...   565.000000     785.0000
DISTANCEONLY  7164.0     0.005583  ...     0.000000       1.0000
UGDS          6874.0  2356.837940  ...  1929.500000  151558.0000
UGDS_WHITE    6874.0     0.510207  ...     0.747875       1.0000
UGDS_BLACK    6874.0     0.189997  ...     0.257700       1.0000
UGDS_HISP     6874.0     0.161635  ...     0.198875       1.0000
UGDS_ASIAN    6874.0     0.033544  ...     0.032700       0.9727
UGDS_AIAN     6874.0     0.013813  ...     0.007300       1.0000
UGDS_NHPI     6874.0     0.004569  ...     0.002500       0.9983
UGDS_2MOR     6874.0     0.023950  ...     0.033900       0.5333
UGDS_NRA      6874.0     0.016086  ...     0.011700       0.9286
UGDS_UNKN     6874.0     0.045181  ...     0.045400       0.9027
PPTUG_EF      6853.0     0.226639  ...     0.376900       1.0000
CURROPER      7535.0     0.923291  ...     1.000000       1.0000
PCTPELL       6849.0     0.530643  ...     0.712900       1.0000
PCTFLOAN      6849.0     0.522211  ...     0.745000       1.0000
UG25ABV       6718.0     0.410021  ...     0.572275       1.0000

[22 rows x 8 columns]

5. Get summary statistics for the object (string) columns:

In [11]:
college.describe(include=[np.object]).T

                   count unique                                       top  freq
INSTNM              7535   7535  Florida National University-South Campus     1
CITY                7535   2514                                  New York    87
STABBR              7535     59                                        CA   773
MD_EARN_WNE_P10     6413    598                         PrivacySuppressed   822
GRAD_DEBT_MDN_SUPP  7503   2038                         PrivacySuppressed  1510

It is possible to specify the exact quantiles returned from the 
`.describe` method when used
with numeric columns

In [18]:
college.describe(include=[np.number], percentiles=np.linspace(0, 1, 20, endpoint=False)).T

               count         mean  ...           95%          max
HBCU          7164.0     0.014238  ...      0.000000       1.0000
MENONLY       7164.0     0.009213  ...      0.000000       1.0000
WOMENONLY     7164.0     0.005304  ...      0.000000       1.0000
RELAFFIL      7535.0     0.190975  ...      1.000000       1.0000
SATVRMID      1185.0   522.819409  ...    665.000000     765.0000
SATMTMID      1196.0   530.765050  ...    685.000000     785.0000
DISTANCEONLY  7164.0     0.005583  ...      0.000000       1.0000
UGDS          6874.0  2356.837940  ...  11858.050000  151558.0000
UGDS_WHITE    6874.0     0.510207  ...      0.927315       1.0000
UGDS_BLACK    6874.0     0.189997  ...      0.726715       1.0000
UGDS_HISP     6874.0     0.161635  ...      0.666700       1.0000
UGDS_ASIAN    6874.0     0.033544  ...      0.131775       0.9727
UGDS_AIAN     6874.0     0.013813  ...      0.036410       1.0000
UGDS_NHPI     6874.0     0.004569  ...      0.015200       0.9983
UGDS_2MOR     6874.0     0.023950  ...      0.076900       0.5333
UGDS_NRA      6874.0     0.016086  ...      0.078135       0.9286
UGDS_UNKN     6874.0     0.045181  ...      0.200575       0.9027
PPTUG_EF      6853.0     0.226639  ...      0.710620       1.0000
CURROPER      7535.0     0.923291  ...      1.000000       1.0000
PCTPELL       6849.0     0.530643  ...      0.896360       1.0000
PCTFLOAN      6849.0     0.522211  ...      0.897920       1.0000
UG25ABV       6718.0     0.410021  ...      0.800000       1.0000

[22 rows x 25 columns]

A crucial part of data analysis involves creating and maintaining a data dictionary. A data dictionary is a table of metadata and notes on each column of data. One of the primary purposes of a data dictionary is to explain the meaning of the column names. The college dataset uses a lot of abbreviations that are likely to be unfamiliar to an analyst who is inspecting it for the first time.

In [19]:
pd.read_csv("college_data_dictionary.csv")

           column_name                                        description
0               INSTNM                                   Institution Name
1                 CITY                                      City Location
2               STABBR                                 State Abbreviation
3                 HBCU           Historically Black College or University
4              MENONLY                                       0/1 Men Only
5            WOMENONLY                                     0/1 Women only
6             RELAFFIL                          0/1 Religious Affiliation
7             SATVRMID                                  SAT Verbal Median
8             SATMTMID                                    SAT Math Median
9         DISTANCEONLY                            Distance Education Only
10                UGDS                           Undergraduate Enrollment
11          UGDS_WHITE                            Percent Undergrad White
12          UGDS_BLACK                            Percent Undergrad Black
13           UGDS_HISP                         Percent Undergrad Hispanic
14          UGDS_ASIAN                            Percent Undergrad Asian
15           UGDS_AIAN   Percent Undergrad American Indian/Alaskan Native
16           UGDS_NHPI  Percent Undergrad Native Hawaiian/Pacific Isla...
17           UGDS_2MOR                  Percent Undergrad 2 or more races
18            UGDS_NRA              Percent Undergrad non-resident aliens
19           UGDS_UNKN                     Percent Undergrad race unknown
20            PPTUG_EF                         Percent Students part-time
21            CURROPER                            0/1 Currently Operating
22             PCTPELL                   Percent Students with Pell grant
23            PCTFLOAN                 Percent Students with federal loan
24             UG25ABV                     Percent Students Older than 25
25     MD_EARN_WNE_P10          Median Earnings 10 years after enrollment
26  GRAD_DEBT_MDN_SUPP                          Median debt of completers