---
# Chapter 2: Essential DataFrame Operations
---

In [1]:
import numpy as np
import pandas as pd

In [3]:
movies = pd.read_csv('./movie.csv')
movies.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

## Selecting multiple DataFrame columns

In [4]:
# Select all the actor and director columns
movie_actor_director = movies[['director_name', 
                               'actor_1_name', 
                               'actor_2_name', 
                               'actor_3_name'
                               ]]
movie_actor_director.head()

       director_name     actor_1_name      actor_2_name          actor_3_name
0      James Cameron      CCH Pounder  Joel David Moore             Wes Studi
1     Gore Verbinski      Johnny Depp     Orlando Bloom        Jack Davenport
2         Sam Mendes  Christoph Waltz      Rory Kinnear      Stephanie Sigman
3  Christopher Nolan        Tom Hardy    Christian Bale  Joseph Gordon-Levitt
4        Doug Walker      Doug Walker        Rob Walker                   NaN

There are instances when one column of a DataFrame needs to be selected. Using
the index operation can return either a Series or a DataFrame. If we pass in a list
with a single item, we will get back a DataFrame. If we pass in just a string with
the column name, we will get a Series back:

In [5]:
type(movie_actor_director['director_name'])

pandas.core.series.Series

In [6]:
type(movie_actor_director[['director_name']])

pandas.core.frame.DataFrame

We can also use `.loc` to pull out a column by name. Because this index operation requires that we pass in a row selector first, we will use a colon (:) to indicate a slice that selects all of the rows. This can also return either a DataFrame or a Series

In [7]:
type(movie_actor_director.loc[:, 'director_name'])

pandas.core.series.Series

In [8]:
type(movie_actor_director.loc[:, ['director_name']])

pandas.core.frame.DataFrame

Passing a long list inside the indexing operator might cause readability issues. To help with
this, you may save all your column names to a list variable first.

In [9]:
# Create a list that contains columns name
cols = ['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name']
movie_actor_director = movies[cols]

## Selecting columns with methods

There are some DataFrame methods that facilitate columns selection such as `.select_dtypes` if want to select columns by type or, `.filter` method.

Read in the movie dataset. Shorten the column names for display. Use the `.value_counts` method to output the number of columns with each specific data type:

In [10]:
def shorten(col):
  return (
      str(col)
      .replace("facebook_likes", "fb")
      .replace("_for_reviews", "")
  )

movies.rename(columns=shorten, inplace=True)

In [11]:
# dtypes counts
movies.dtypes.value_counts()

float64    13
object     12
int64       3
dtype: int64

Use the `.select_dtypes` method to select only the integer columns

In [16]:
movies.select_dtypes(include='int').head(3)

   num_voted_users  cast_total_fb  movie_fb
0           886204           4834     33000
1           471220          48350         0
2           275868          11700     85000

If you would like to select all the numeric columns, you may pass the string number to the include parameter:

In [17]:
movies.select_dtypes(include='number').head()

   num_critic  duration  director_fb  ...  imdb_score  aspect_ratio  movie_fb
0       723.0     178.0          0.0  ...         7.9          1.78     33000
1       302.0     169.0        563.0  ...         7.1          2.35         0
2       602.0     148.0          0.0  ...         6.8          2.35     85000
3       813.0     164.0      22000.0  ...         8.5          2.35    164000
4         NaN       NaN        131.0  ...         7.1           NaN         0

[5 rows x 16 columns]

If we wanted integer and string columns we could do the following:

In [18]:
movies.select_dtypes(include=['int', 'object']).head(3)

   color   director_name      actor_2_name  ... country content_rating movie_fb
0  Color   James Cameron  Joel David Moore  ...     USA          PG-13    33000
1  Color  Gore Verbinski     Orlando Bloom  ...     USA          PG-13        0
2  Color      Sam Mendes      Rory Kinnear  ...      UK          PG-13    85000

[3 rows x 15 columns]

To exclude only floating-point columns, do the following

In [20]:
movies.select_dtypes(exclude='float').head(3)

   color   director_name      actor_2_name  ... country content_rating movie_fb
0  Color   James Cameron  Joel David Moore  ...     USA          PG-13    33000
1  Color  Gore Verbinski     Orlando Bloom  ...     USA          PG-13        0
2  Color      Sam Mendes      Rory Kinnear  ...      UK          PG-13    85000

[3 rows x 15 columns]

An alternative method to select columns is with the .filter method. This method is flexible and searches column names (or index labels) based on which parameter is used. Here, we use the like parameter to search for all the Facebook columns or the names that contain the exact string, fb. The like parameter is checking for substrings in column names

In [21]:
movies.filter(like='fb').head()

   director_fb  actor_3_fb  actor_1_fb  cast_total_fb  actor_2_fb  movie_fb
0          0.0       855.0      1000.0           4834       936.0     33000
1        563.0      1000.0     40000.0          48350      5000.0         0
2          0.0       161.0     11000.0          11700       393.0     85000
3      22000.0     23000.0     27000.0         106759     23000.0    164000
4        131.0         NaN       131.0            143        12.0         0

In [22]:
cols

['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name']

In [23]:
movies.filter(items=cols).head(3)

    director_name     actor_1_name      actor_2_name      actor_3_name
0   James Cameron      CCH Pounder  Joel David Moore         Wes Studi
1  Gore Verbinski      Johnny Depp     Orlando Bloom    Jack Davenport
2      Sam Mendes  Christoph Waltz      Rory Kinnear  Stephanie Sigman

The `.filter` method allows columns to be searched with regular expressions using the regex parameter. Here, we search for all columns that have a digit somewhere in their name:

In [25]:
movies.filter(regex=r'\d').head(3)

   actor_3_fb      actor_2_name  ...      actor_3_name actor_2_fb
0       855.0  Joel David Moore  ...         Wes Studi      936.0
1      1000.0     Orlando Bloom  ...    Jack Davenport     5000.0
2       161.0      Rory Kinnear  ...  Stephanie Sigman      393.0

[3 rows x 6 columns]

## Ordering Column Names
**Guideline:**  

Classify each column as either categorical or continuous
-  Group common columns within the categorical and continuous columns
-  Place the most important groups of columns first with categorical columns before continuous ones

In [26]:
# Output all the column names and scan for similar categorical and continuous
# columns
movies.columns

Index(['color', 'director_name', 'num_critic', 'duration', 'director_fb',
       'actor_3_fb', 'actor_2_name', 'actor_1_fb', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users', 'cast_total_fb',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_fb', 'imdb_score', 'aspect_ratio',
       'movie_fb'],
      dtype='object')

In [28]:
cat_core = ["movie_title", "title_year", "content_rating", "genres",]
movies[cat_core].head(1)

  movie_title  title_year content_rating                           genres
0      Avatar      2009.0          PG-13  Action|Adventure|Fantasy|Sci-Fi

In [29]:
cat_people = ["director_name", "actor_1_name", "actor_2_name", "actor_3_name"]
movies[cat_people].head(1)

   director_name actor_1_name      actor_2_name actor_3_name
0  James Cameron  CCH Pounder  Joel David Moore    Wes Studi

In [30]:
 cat_other = ["color", "country", "language", "plot_keywords", "movie_imdb_link",]
 movies[cat_other].head(1)

   color  ...                                    movie_imdb_link
0  Color  ...  http://www.imdb.com/title/tt0499549/?ref_=fn_t...

[1 rows x 5 columns]

In [31]:
cont_fb = ["director_fb", "actor_1_fb", "actor_2_fb", "actor_3_fb",
           "cast_total_fb", "movie_fb",]
movies[cont_fb].head(3)

   director_fb  actor_1_fb  actor_2_fb  actor_3_fb  cast_total_fb  movie_fb
0          0.0      1000.0       936.0       855.0           4834     33000
1        563.0     40000.0      5000.0      1000.0          48350         0
2          0.0     11000.0       393.0       161.0          11700     85000

In [32]:
cont_finance = ["budget", "gross"]
movies[cont_finance].head(3)

        budget        gross
0  237000000.0  760505847.0
1  300000000.0  309404152.0
2  245000000.0  200074175.0

In [33]:
cont_num_reviews = ["num_voted_users", "num_user", "num_critic",]
movies[cont_num_reviews].head(3)

   num_voted_users  num_user  num_critic
0           886204    3054.0       723.0
1           471220    1238.0       302.0
2           275868     994.0       602.0

In [34]:
cont_other = ["imdb_score", "duration", "aspect_ratio", "facenumber_in_poster",]
movies[cont_other].head(3)

   imdb_score  duration  aspect_ratio  facenumber_in_poster
0         7.9     178.0          1.78                   0.0
1         7.1     169.0          2.35                   0.0
2         6.8     148.0          2.35                   1.0

Concatenate all the lists together to get the final column order. Also, ensure that this
list contains all the columns from the original:

In [36]:
new_col_order = (
    cat_core
    + cat_people
    + cat_other
    + cont_fb
    + cont_finance
    + cont_num_reviews
    + cont_other

)
set(movies.columns) == set(new_col_order)

True

Pass the list with the new column order to the indexing operator of the DataFrame to
reorder the columns

In [37]:
movies[new_col_order].head()

                                  movie_title  ...  facenumber_in_poster
0                                      Avatar  ...                   0.0
1    Pirates of the Caribbean: At World's End  ...                   0.0
2                                     Spectre  ...                   1.0
3                       The Dark Knight Rises  ...                   0.0
4  Star Wars: Episode VII - The Force Awakens  ...                   0.0

[5 rows x 28 columns]

## Summarizing a DataFrame

In [39]:
movies.size

137648

In [40]:
movies.ndim

2

In [41]:
len(movies)

4916

In [42]:
movies.count()

color                   4897
director_name           4814
num_critic              4867
duration                4901
director_fb             4814
actor_3_fb              4893
actor_2_name            4903
actor_1_fb              4909
gross                   4054
genres                  4916
actor_1_name            4909
movie_title             4916
num_voted_users         4916
cast_total_fb           4916
actor_3_name            4893
facenumber_in_poster    4903
plot_keywords           4764
movie_imdb_link         4916
num_user                4895
language                4904
country                 4911
content_rating          4616
budget                  4432
title_year              4810
actor_2_fb              4903
imdb_score              4916
aspect_ratio            4590
movie_fb                4916
dtype: int64

In [43]:
movies.min()

num_critic                                                              1
duration                                                                7
director_fb                                                             0
actor_3_fb                                                              0
actor_1_fb                                                              0
gross                                                                 162
genres                                                             Action
movie_title                                                       #Horror
num_voted_users                                                         5
cast_total_fb                                                           0
facenumber_in_poster                                                    0
movie_imdb_link         http://www.imdb.com/title/tt0006864/?ref_=fn_t...
num_user                                                                1
budget                                                                218
title_year                                                           1916
actor_2_fb                                                              0
imdb_score                                                            1.6
aspect_ratio                                                         1.18
movie_fb                                                                0
dtype: object

In [44]:
movies.describe().T

                       count          mean  ...          75%           max
num_critic            4867.0  1.379889e+02  ...       191.00  8.130000e+02
duration              4901.0  1.070908e+02  ...       118.00  5.110000e+02
director_fb           4814.0  6.910145e+02  ...       189.75  2.300000e+04
actor_3_fb            4893.0  6.312763e+02  ...       633.00  2.300000e+04
actor_1_fb            4909.0  6.494488e+03  ...     11000.00  6.400000e+05
gross                 4054.0  4.764451e+07  ...  61108412.75  7.605058e+08
num_voted_users       4916.0  8.264492e+04  ...     93772.75  1.689764e+06
cast_total_fb         4916.0  9.579816e+03  ...     13616.75  6.567300e+05
facenumber_in_poster  4903.0  1.377320e+00  ...         2.00  4.300000e+01
num_user              4895.0  2.676688e+02  ...       320.50  5.060000e+03
budget                4432.0  3.654749e+07  ...  43000000.00  4.200000e+09
title_year            4810.0  2.002448e+03  ...      2011.00  2.016000e+03
actor_2_fb            4903.0  1.621924e+03  ...       912.00  1.370000e+05
imdb_score            4916.0  6.437429e+00  ...         7.20  9.500000e+00
aspect_ratio          4590.0  2.222349e+00  ...         2.35  1.600000e+01
movie_fb              4916.0  7.348294e+03  ...      2000.00  3.490000e+05

[16 rows x 8 columns]

In [45]:
movies.describe(percentiles=[.01, .3, .99]).T

                       count          mean  ...           99%           max
num_critic            4867.0  1.379889e+02  ...  5.466800e+02  8.130000e+02
duration              4901.0  1.070908e+02  ...  1.890000e+02  5.110000e+02
director_fb           4814.0  6.910145e+02  ...  1.600000e+04  2.300000e+04
actor_3_fb            4893.0  6.312763e+02  ...  1.100000e+04  2.300000e+04
actor_1_fb            4909.0  6.494488e+03  ...  4.492000e+04  6.400000e+05
gross                 4054.0  4.764451e+07  ...  3.264128e+08  7.605058e+08
num_voted_users       4916.0  8.264492e+04  ...  6.815846e+05  1.689764e+06
cast_total_fb         4916.0  9.579816e+03  ...  6.241390e+04  6.567300e+05
facenumber_in_poster  4903.0  1.377320e+00  ...  8.000000e+00  4.300000e+01
num_user              4895.0  2.676688e+02  ...  1.999240e+03  5.060000e+03
budget                4432.0  3.654749e+07  ...  2.000000e+08  4.200000e+09
title_year            4810.0  2.002448e+03  ...  2.016000e+03  2.016000e+03
actor_2_fb            4903.0  1.621924e+03  ...  1.700000e+04  1.370000e+05
imdb_score            4916.0  6.437429e+00  ...  8.500000e+00  9.500000e+00
aspect_ratio          4590.0  2.222349e+00  ...  4.000000e+00  1.600000e+01
movie_fb              4916.0  7.348294e+03  ...  9.385000e+04  3.490000e+05

[16 rows x 9 columns]

In [46]:
movies.min(skipna=False)

num_critic                                                            NaN
duration                                                              NaN
director_fb                                                           NaN
actor_3_fb                                                            NaN
actor_1_fb                                                            NaN
gross                                                                 NaN
genres                                                             Action
movie_title                                                       #Horror
num_voted_users                                                         5
cast_total_fb                                                           0
facenumber_in_poster                                                  NaN
movie_imdb_link         http://www.imdb.com/title/tt0006864/?ref_=fn_t...
num_user                                                              NaN
budget                                                                NaN
title_year                                                            NaN
actor_2_fb                                                            NaN
imdb_score                                                            1.6
aspect_ratio                                                          NaN
movie_fb                                                                0
dtype: object